@import "./utils/fonts";
@import "./utils/libs";
@import "./utils/vars";

#app {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}
.error {
  font-size: 12px;
  line-height: 14px;
  padding: 5px 0;
  width: 180px;
  color: #960000;
}

